<!DOCTYPE html>
<html lang="en">
  <head>
    
  </head>

  <body>
    <div class="container">
      <header id="header">
     
      </header>
      <hr />
      <main role="main">
        <div class="card" >
            <div class="card-header bg-primary text-white text-center" role="heading">
                About Us
            </div>
            <blockquote class="blockquote">
                <p>
                   Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo, blanditiis rerum architecto similique velit iure impedit exercitationem quo quas eaque maxime quae, nihil sed molestiae harum aliquid facilis esse voluptatum?
                </p>
                <footer class="blockquote-footer">W3C<sup>®</sup></footer>
            </blockquote>
          </div>
    </main>
        <hr />
        <div id="footer"> </div>       
      
    </div>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/partials.js"></script>
  </body>
</html>
