<!DOCTYPE html>
<html lang="en">
<head>
 
</head>

<body>
  <div class="container">
    <header id="header">
     
    </header>
   
    <hr />
    <main role="main">
      <div class="row">
      <div class="col-md-2 card mb-3"></div>
      <div class="col-md-8 card mb-3">
        <div class="card-header bg-primary text-white text-center">FDU Vancouver Forum Etiquette</div>
        <div class="card-body">
          <blockquote class="blockquote">
            <ul>
              <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit </li>
              <li>Vestibulum justo sem, dapibus vitae velit in, vehicula luctus sapien</li>
              <li>Nulla porta turpis malesuada, sagittis ligula vel, consequat mauris</li>
              <li>Fusce interdum quam imperdiet placerat lobortis</li>
              <li>Phasellus facilisis efficitur fermentum. </li>
              <li>In pellentesque dui eget aliquam mattis</li>
              <li>Nulla nisl dolor, volutpat non hendrerit id, dignissim et mauris</li>
              <li>Aliquam lacinia enim a lectus ultricies auctor</li>
            </ul>
            <footer class="blockquote-footer">Langara Forum</footer>

          </blockquote>
        </div>
      </div>
      <div class="col-md-2 card mb-3"></div>
    </div>
    </main>
    <hr />
    <div id="footer">

    </div>
    

  </div>
  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="js/partials.js"></script>
 
</body>

</html>