<!DOCTYPE html>
<html lang="en">
  <head>
   
  </head>

  <body>
    <div class="container">
      <header id="header">
     
      </header>
      <hr />
      <main role="main">
        <div class="card">
          <div
            class="card-header bg-primary text-white text-center h1"
            role="heading"
          >
            Posts by Members
          </div>
          <!--
<h4>Message by <code>@User.Identity?.Name</code></h4>
            -->

          <hr />
                   <div class="text-center h2" id="header"></div>
          <div class="text-center">
            <table class="table table-striped">
              <thead></thead>
              <tbody class="text-center" role="listbox"></tbody>
            </table>
            <div class="btn-group" role="group" aria-label="Member Page">
             <a class="btn btn-primary" href="/postMessage">Post A message</a>
          </div>
          </div>

          <br />
          <hr />
        </div>
      </main>
      <hr />
      <div id="footer">

      </div>
    </div>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/partials.js"></script>
    <script src="js/posts.js"></script>
  </body>
</html>
